main {
    padding: 30px 25px 30px 325px;
}

footer {
    padding-left: 300px;
}

.mt {
    margin-top: 15px;
}

.mt-2 {
    margin-top: 30px;
}

.padding {
    padding: 15px;
}

.delete-form {
    display: inline-block;
}

.datepicker-date-display {
    background-color: rgb(118, 186, 241);
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: #039be5;
}

.datepicker-table td.is-today {
    color: #039be5;
}

.datepicker-table td.is-selected {
    background-color: #039be5;
    color: #fff;
}

textarea:focus,
input:focus,
.input-field textarea.valid,
.input-field input.valid {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
}

.input-field input:focus + label,
.input-field textarea:focus + label,
.input-field .prefix.active {
    color: #039be5 !important;
}

button:focus {
    background-color: rgb(118, 186, 241) !important;
}

header .nav-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.brand-logo img {
    max-height: 48px;
    margin-top: 7px;
}

.sidenav {
    margin-top: 64px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.nav-wrapper #nav-mobile .nav-item i {
    line-height: 60px !important;
    display: inline-block !important;
    vertical-align: middle;
}